


)
.img{
        display: 20%;
        width: 50px;
        height: 50px;
        border-radius: 50%;
}


.col1 {
    position: relative;
    width: 50%;
  }
  .image {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
      }
      
      .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
      }
      
      .col1:hover .image {
        opacity: 0.3;
      }
      
      .col1:hover .middle {
        opacity: 1;
      }
      
      .text {
        background-color: #04aa6d11;
        color: rgb(12, 12, 12);
        font-size: 30px;
        padding: 16px 32px;
      }


body{
    background-image: url('photoprofilcv.jpg');
    background: url(images.cv/métiers.numériques3.png), url(background-pattern.png);
    
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
  #contactez-moi{
    background-color: rgb(22, 46, 46);

  }

#col4{
    background-image:
    linear-gradient(
    to right, 
    rgb(233, 33, 66), 
    #f06d06, 
    rgb(255, 255, 0), 
    rgba(74, 238, 74, 0.61)
  );
    color :rgb(26, 22, 16);
}
#col3{
    background-image: linear-gradient(to right, rgba(238, 130, 238, 0.616), rgba(241, 57, 57, 0.781), rgba(128, 0, 128, 0.671));
    color :rgb(26, 22, 16);
}
#col2{
  background-image:
  linear-gradient(
    to right,
    #ec9e45, #f1508b
  );
  color :rgb(26, 22, 16);
}
#col1{
    background: linear-gradient(black, white); 
    color :rgb(26, 22, 16);
}

#githublogo{
  width: 50px;
  
}

#linkedinlogo{
  width: 50px;
}

#gmaillogo{
  width: 50px;
}
   .user1{
     -ms-flex-align: start;
     paddind: 16px 32px
   }
   
